#title{
    text-align: center;
    font-family: Papyrus; 
}

#lion1{
    height: 50%;
    width: 50%;
    float: left;
    padding-right: 0px;
}

#lion2{
    height: 50%;
    width: 50%;
}

#lion1-info{
    margin-top: 5%;
   border: solid; 
  border-radius: 0.5pc; 
  font-family: Papyrus; 
  box-shadow: 5px 10px #888888;
  background-color: white;
}