body {
    font-family: Gill Sans, sans-serif;
    /* background-image: url(../img/arctic.jpg); */
    background-size: cover;
    background-position: center;
    text-align: center;
  }
  
.animal {
    font-size: 20px;
    margin: 2dvh;
}

.image {
    width: 50vw;
    border-radius: 5%;
}

.link {
    font-size: 20px;
  }