body {
    font-family: Gill Sans, sans-serif;
    background-image: url(../img/arctic.jpg);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    text-align: center;
  }
  
.animal {
    font-size: 20px;
    margin: 2dvh;
}

.image {
    height: 50vh;
    width: 50vw;
    border-radius: 5%;
}

.link {
    font-size: 20px;
  }